/* *{
  margin: 0;
  padding: 0;
} */
.App {
  /* text-align: center; */  
  display: flex;
  overflow-x: hidden;
  
}

:root{
  --purple: #5B22FF;
  --secondary: #111111 ;
  --primary: #252525; 
  --primary-gradient: linear-gradient( #22BDFF -2.29%, #0075FF 119.18%);
}

/* .body-content{
  width: 65vw;
  position: absolute;
} */
@media (max-width: 868px) {
  .body-content{
    
  }
}

.sidebar{
  display: flex;
  flex-direction: row;
}
@media (max-width: 868px) {
  .sidebar{
    z-index: 111 !important;
    width: 120px;
  }
}

.chat{
  display: flex;
  /* align-self: right; */
  position: relative;
  top: 0;
  left: 0;
  /* left: auto; */
}

.links{
  padding: 4rem 0 0 12rem;
  font-size: 25px;
}


body{
  background-color: #000000;
}



